функция подсчета количества человек в группах(нумерация начинается с "0")

In [78]:
def count_group_zero (n_customers):
  '''
  функция принимает количество клиентов, суммирует их ID
  и выдает список количества клиентов в каждой группе
  '''
  customers = [0]                               #  создаем список с нулем под нулевым индексом
  for i in range(n_customers+1):                #  пробегаем по списку клиентов
    sum = 0
    while (i != 0):                             #  пока цифры не кончились
      sum = sum + i % 10                        #  приплюсовываем к переменной sum последнюю цифру
      i = i // 10                               #  меняем переменную как остаток деления на 10(удаляем последнюю цифру)
    if len(customers) <= sum:                   #  проверяем длину массива 
      customers.append(0)                       #  и увеличиваем длину на один элемент, если её не хватает
    customers[sum] = customers[sum]+1           #  увеличиваем количество клиентов в данной группе(по данному индексу) на единицу
  return customers                              #  возвращаем список количества клиентов в каждой группе

In [87]:
count_group_zero(300)

[1, 3, 6, 10, 12, 15, 18, 21, 24, 27, 28, 27, 24, 21, 18, 15, 12, 9, 6, 3, 1]


функция подсчета количества человек в группах(нумерация начинается с произвольного числа)

In [80]:
def count_group_rand (n_customers,n_first_id):
  '''
  функция принимает количество клиентов, стартовый индекс, суммирует ID 
  клиентов, начиная со стартового
  и выдает список количества клиентов в каждой группе
  '''
  customers = [0]*75                                      # учитывая длину индекса не более 8 знаков создаю список из 75 нулей( 8*9=72 - максимальный индекс)
  for i in range(n_first_id, n_first_id+n_customers+1):   # пробегаем по всем индексам
    sum = 0
    while (i != 0):                                       # пока цифры не кончились
      sum = sum + i % 10                                  #  приплюсовываем к переменной sum последнюю цифру
      i = i // 10                                         #  меняем переменную как остаток деления на 10(удаляем последнюю цифру)

    customers[sum] = customers[sum]+1                     # увеличиваем количество клиентов в данной группе(по данному индексу) на единицу
  return customers                                        # возвращаем список количества клиентов в каждой группе

In [81]:
count_group_rand(25000, 3894386)

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 5,
 14,
 30,
 55,
 91,
 140,
 204,
 285,
 385,
 502,
 630,
 763,
 896,
 1023,
 1139,
 1240,
 1321,
 1376,
 1399,
 1391,
 1358,
 1304,
 1234,
 1153,
 1062,
 963,
 859,
 755,
 660,
 571,
 488,
 410,
 336,
 268,
 208,
 157,
 116,
 83,
 56,
 35,
 20,
 10,
 4,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]